.container {
  margin-right: 20px;
  margin-left: 20px;
}

.sectPortada {
  margin-top: 10px;
}

.sectPortada .sectPortada__titPortada {
  font-family: Arial;
  position: absolute;
  top: 1px;
  left: 30px;
  color: #fff;
}

.sectPortada .sectPortada__imgPortada {
  height: 250px;
  background-image: url("/assets/images/design1_image1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  /* posicionar img con barra de nombre*/
  margin-left: 1px;
  margin-top: 3px;
  margin-right: 1px;
  margin-bottom: 3px;
}

.BloqTituloPag {
  background-color: #000;
}

.BloqTituloPag .BloqTituloPag__TitPagina {
  background-color: #000;
  color: #fff;
  text-align: center;
  font-family: sans-serif;
  margin-top: -4px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.BloqTituloPag .BloqTituloPag__TitPagina__logo {
  float: right;
  margin-right: 25px;
  margin-top: -30px;
  width: 85px;
  height: 85px;
  margin-right: 25;
  position: -webkit-sticky;
  position: sticky;
}

.header {
  margin-top: 10px;
}

.header .header__menu {
  width: 150px;
  height: 970px;
  float: left;
}

.header .header__menu__link {
  color: #13396b;
  display: block;
  text-decoration: none;
  padding: 15px;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: small;
}

/* Seccion Noticias */
.contNoticias {
  padding-left: 5px;
}

/* Seccion About*/
.contAbout {
  padding-left: 5px;
}

/* Pagina de contacto*/
address {
  display: inline;
}

.contContacto {
  float: left;
  padding-left: 35px;
}

/*---------- REGLAS Y POLITICAS* ----------*/
.reglas {
  padding: 3px;
}

.reglas .reglas__h2 {
  text-align: center;
}

.reglas .reglas__h3 {
  text-align: center;
  text-transform: uppercase;
}

.reglas .reglas__h3--izquierda {
  text-align: start;
}

.reglas .reglas__h4 {
  font-weight: 600;
  text-transform: uppercase;
}

.reglas .reglas__txtSub {
  text-align: center;
}

.reglas .reglas__ul {
  margin-left: 60px;
}

.reglas .reglas__ul__li {
  margin-left: 100px;
}

.reglas .reglas__ol {
  margin-left: 120px;
}

.reglas .reglas__ol__li {
  margin-left: 40px;
  margin-bottom: 20px;
}

.reglas .reglas__ol__li__h4 {
  font-weight: bold;
  text-align: start;
  text-transform: uppercase;
  margin-bottom: 0px;
  display: inline;
}

/*---------- INF JUEGO * ----------*/
.contInfJuego {
  padding: 5px;
  /*---------- tablas * ----------*/
}

.contInfJuego .contInfJuego__txthor {
  text-align: start;
  text-decoration: underline;
  font-style: oblique;
}

.contInfJuego .contInfJuego__hr {
  padding: 10px;
  margin: 25px;
  border: none;
}

.contInfJuego .contInfJuego__titmenu {
  text-transform: uppercase;
}

.contInfJuego .contInfJuego__table, .contInfJuego th, .contInfJuego td {
  border: 1px solid #050505;
  border-collapse: collapse;
}

/*---------- Formulario * ----------*/
.contRegistros {
  padding: 15px;
}

.contRegistros .contRegistros_formcont .contRegistros_formcont__fieldset {
  margin-top: 15px;
}

.contRegistros .contRegistros_formcont .contRegistros_formcont__fieldset .contRegistros_formcont__fieldset__input {
  margin-top: 15px;
}

.contRegistros .contRegistros_formcont .contRegistros_formcont__fieldset .contRegistros_formcont__fieldset__input--bonito {
  margin-bottom: 10px;
  border: none;
  -webkit-border-after: #2e9e5fde;
          border-block-end: #2e9e5fde;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.contRegistros .contRegistros_formcont .contRegistros_formcont__fieldset .contRegistros_formcont__fieldset__Bold-tit {
  font-weight: 700;
}

.contRegistros .contRegistros_formcont .contRegistros_formcont_mibuttonUno {
  margin-top: 30px;
  margin-top: 30px;
  background-color: #639aa9;
  border-block-color: white;
  color: #fff;
  border-radius: 8px;
  padding: 4px;
  width: 300px;
  border: none;
}

.footer {
  margin-top: 1px;
}
/*# sourceMappingURL=estilo.css.map */